body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 100px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #bbb;
}

.hero {
    text-align: center;
    padding: 50px;

}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-top: 20px; 
}

.cta-button {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.iPhone11Pro {
    padding: 10px;
    background-color: black;
    color: white;
}

.quadrants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-color: #f8f8f8;
}

.quadrant {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.quadrant h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.quadrant p {
    margin-bottom: 10px;
}

.quadrant img {
    max-width: 60%;
    height: auto;
}

.quadrant-link {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
